<ion-header>
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #loginForm="ngForm" (ngSubmit)="loginCliente()">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" name="email" [(ngModel)]="email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" name="senha" [(ngModel)]="senha" required></ion-input>
    </ion-item>
    <ion-button expand="block" type="submit" [disabled]="!loginForm.valid">Login</ion-button>
  </form>

  <p style="font-size: 16px; opacity: 0.5;">Para acessar o cadastro do administrador, <a href="loginusuario" style="text-decoration: none; color: inherit;">clique aqui</a>.</p>

</ion-content>
