<ion-header>
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #loginForm="ngForm" (ngSubmit)="loginUsuario()">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" name="email" [(ngModel)]="email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" name="senha" [(ngModel)]="senha" required></ion-input>
    </ion-item>
    <ion-button expand="block" type="submit" [disabled]="!loginForm.valid">Login</ion-button>
  </form>
</ion-content>
